*.sql linguist-language=PLpgSQL linguist-detectable
database/seed-fake.sql -linguist-detectable

internal/**/mocks_test.go linguist-generated
internal/infrastructure/presistence/postgres/ linguist-generated
migration/ linguist-generated
