*.sql linguist-language=PLpgSQL linguist-detectable
seed-fake.sql -linguist-detectable

internal/**/mock.go linguist-generated
internal/infrastructure/repository/postgres/ linguist-generated
migration/ linguist-generated
